<section class="outer">
  <article class="articles">
    <h1 class="page-type-title">小城往事</h1>
    <ul class="archives">
      <% if (page.posts.length> 0) { %>
        <% page.posts.each(function(post){ %>
          <li class="archive-article">
            <span class="archive-article-date">
              <%= post.date.format('YYYY-MM-DD HH:mm') %>
            </span> ---
            <a href="<%- url_for(post.path) %>" class="archive-article-title">
              <%= post.title %>
            </a>
          </li>
          <% }) %>
            <% } else { %>
              <li>No posts found.</li>
              <% } %>
    </ul>
  </article>
</section>